<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title:"Impact X | Home"})%>

  <body>

    <%- include('./partials/header')%>

      <section class="heroSection">
        <div class="heroImg"></div>
        <div  class="contenedorInfoHero">
          <div class="contenedorTexto">
            <h1 data-aos="fade-right"
            data-aos-easing="ease-in-sine"
            data-aos-duration="1000"><strong>Empower Your Business with Digital Excellence.</strong></h1>
            <p data-aos="fade-right"
            data-aos-easing="ease-in-sine"
            data-aos-duration="1000" class="subHeading">
              We enable seamless integration of applications, data, and people. Helping you achieve faster and more
              efficient digital transformation.
            </p>
          </div>
          <div data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="1000">
            <a  class="botonContactanos" href="/productos">Launch your Business</a>
          </div>
        </div>
      </section>
            
      <section class="seccionQuienesSomos" id="nosotros">

        <div 

        class="containerTextoQuienesSomos" id="nosotros">
          <h2 
          data-aos="fade-in"         
          data-aos-easing="ease-in-sine"
          data-aos-duration="1000" >About us</h2>
          <p 
          data-aos="fade-in"         
          data-aos-easing="ease-in-sine"
          data-aos-duration="1000" >
            We are a company dedicated to software development, web pages and marketing. our products and
            services are designed to meet the specific needs of each client.
          </p>
        </div>
        <img 
              class="imagenQuienesSomos" 
              src="/img/quienesSomos.jpg" 
              alt="Imagen de quienes somos" />
      </section>


          <section  
          data-aos="fade-in"         
          data-aos-easing="ease-in-sine"
          data-aos-duration="1000" class="formulario-contacto" id="contacto">
            <div class="formulario-wrapper">
              <h2>Contact us</h2>
              <form action="/contactenos/create" method="POST">
                <% const readonly = locals.userLogged ? 'readonly' : ''; %>
                <div class="erroresForm">
                  <% if(locals.errors && errors.nombre){ %>
                    <%= errors.nombre.msg %>
                  <% } %>
                </div>
                <input type="text" placeholder="Name" maxlength="30" name="nombre"
                  class="control <%= locals.errors && errors.nombre ? 'invalidError' : null %>"
                  value="<%= locals.oldData ? oldData.nombre : locals.userLogged ? locals.userLogged.name : '' %>" <%= readonly %>/>
      
                <div class="erroresForm">
                  <% if(locals.errors && errors.apellido){ %>
                    <%= errors.apellido.msg %>
                  <% } %>
                </div>
                <input type="text" placeholder="Lastname" name="apellido"
                  class="control <%= locals.errors && errors.apellido ? 'invalidError' : null %>"
                  value="<%= locals.oldData ? oldData.apellido : locals.userLogged ? locals.userLogged.lastname : '' %>" <%= readonly %>/>
      
                <div class="erroresForm">
                  <% if(locals.errors && errors.correo){ %>
                    <%= errors.correo.msg %>
                  <% } %>
                </div>
                <input type="text" placeholder="Email" name="correo" maxlength="100"
                  class="control <%= locals.errors && errors.correo ? 'invalidError' : null %>"
                  value="<%= locals.oldData ? oldData.correo : locals.userLogged ? locals.userLogged.email : '' %>" <%= readonly %> />
      
                <label></label>
                <div class="erroresForm">
                  <% if(locals.errors && errors.mensaje){ %>
                    <%= errors.mensaje.msg %>
                  <% } %>
                </div>
                <textarea placeholder="Leave us a message!" class="control <%= locals.errors && errors.mensaje ? 'invalidError' : null %>" rows="5"
                  name="mensaje"><%= locals.oldData ? oldData.mensaje : null %></textarea>
      
                <button type="submit" class="botonContactanos">Send message</button>
  
                <div class="erroresForm">
                  <% if(locals.creado){ %>
                    <%= locals.creado %>
                  <% } %>
                </div>          
              </form>
            </div>
            <div class="seccionConfiaron">
              <h2>They trust us.</h2>
              <div class="logos">
                  <div class="logos-slide">
                    <img src="/img/jesusLogo.png" alt="Jesus Cars Logo" />
                    <img class="spaceXlogo" src="/img/spacexLogo.png" alt="Space X Logo" />
                    <img src="/img/neuralinkLogo.png" alt="Neuralink Logo" />
                    <img src="/img/globantLogo.png" alt="Globant Logo" />
                    <img src="/img/accentureLogo.png" alt="sdsd" />
                  </div>
                  <div class="logos-slide">
                    <img src="/img/jesusLogo.png" alt="Jesus Cars Logo" />
                    <img class="spaceXlogo" src="/img/spacexLogo.png" alt="Space X Logo" />
                    <img src="/img/neuralinkLogo.png" alt="Neuralink Logo" />
                    <img src="/img/globantLogo.png" alt="Globant Logo" />
                    <img src="/img/accentureLogo.png" alt="sdsd" />
                  </div>
              </div>
            </div>


          </section>

          
      <%- include('./partials/footer')%>
      <script src="/js/hamburgMenu.js"></script>
      <script src="/js/slider.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="/js/users/logout.js"></script>
      <script>
        AOS.init();
      </script>


  </body>

</html>