<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Requests"})%>



  <%- include('../partials/header')%>

    <body class="bodySignUp"></body>
    <% requesthabilitados.forEach(request=> { %>
      <form action="/request/<%= request.id %>" method="POST" class="create-form">
        <div class="content">

          <div>
            <div>
              <h2 class="titulo-registrar-usuario">Gestionar request</h2>
            </div>
            <div class="control-formulario">
              <label for="user"> Nombre: </label>
              <input class="control" type="text" name="nombre" value="<%= request.nombre %>" disabled />
            </div>

            <div class="control-formulario">
              <label for="name"> Apellido: </label>
              <input class="control" type="text" name="apellido" value="<%= request.apellido %>" disabled />
            </div>

            <div class="control-formulario">
              <label for="lastName"> Correo </label>
              <input class="control" type="text" value="<%= request.email %>" name="email" />
            </div>

            <label>Inquietud radicada</label>
            <textarea class="control" rows="5" name="mensaje" disabled><%=request.mensaje%></textarea>

            <label>Respuesta</label>
            <textarea class="control" rows="5" name="mensaje"></textarea>

            <button type="submit" class="botonProductos">Enviar correo</button>
          </div>
        </div>
      </form>

      <% }) %>
        </body>
        <%- include('../partials/footer')%>

</html>