<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Requests"})%>

    <%- include('../partials/header')%>

        <body class="error404">
            <% if (!Array.isArray(requesthabilitados) || requesthabilitados.length === 0) { %>
                <div class="error404">
                    <div>
                        <p class="error404-message">There is no request to answer</p>
                    </div>
                    <a class="error404-home-button" href="/">Go back</a>
                </div>                
            <% }else{ %>    
            <% for (let i=0; i < requesthabilitados.length; i++) { const request=requesthabilitados[i]; %>
                <form action="/request/<%= request.id %>" method="POST" class="create-form form-request">
                    <div class="content-request">

                        <div>
                            <div>
                                <h2 class="pending-questions">Pending questions to answer <%= i+1 %> / <%=
                                            requesthabilitados.length %>
                                </h2>
                            </div>
                            <div class="control-formulario">
                                <label for="user"> Name: </label>
                                <input class="control" type="text" name="nombre" value="<%= request.contactmessage.name %>"
                                    readonly />
                            </div>

                            <div class="control-formulario">
                                <label for="name"> Last Name: </label>
                                <input class="control" type="text" name="apellido" value="<%= request.contactmessage.lastname %>"
                                    readonly />
                            </div>

                            <div class="control-formulario">
                                <label for="lastname"> Email </label>
                                <input class="control" type="text" value="<%= request.contactmessage.email %>" name="email" readonly />
                            </div>

                            <label>Question</label>
                            <textarea class="control" rows="5" name="mensaje" readonly><%=request.message%></textarea>
                          
                            <label>Answer</label>
                            <div class="erroresForm">
                                <% if (locals.errors && errors.answer && idError && idError==request.id) { %>
                                  <%= errors.answer.msg %>
                                <% } %>
                            </div>                              
                            <textarea class="control" rows="5" name="answer"></textarea>

                            <button type="submit" class="botonProductos">Send email</button>
                        </div>
                    </div>
                </form>
                <% } %>
                <% } %>

        </body>
        <%- include('../partials/footer')%>

</html>