<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Login"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>
    <% requesthabilitados.forEach(request=> { %>
        <form action="/request/<%= request.id %>?_method=PUT" method="POST" class="create-form">
          <div class="content">

            <div>
              <h2 class="titulo-registrar-usuario">Gestionar request</h2>

              <div class="control-formulario">
                <label for="user"> Nombre: </label>
                <input class="control" type="text" name="nombre"
                  value="<%= request.nombre %>" disabled/>
              </div>

              <div class="control-formulario">
                <label for="name"> Apellido: </label>
                <input class="control" type="text" name="apellido" value="<%= request.apellido %>" disabled/>
              </div>

              <div class="control-formulario">
                <label for="lastName"> Correo </label>
                <input class="control" type="text" value="<%= request.email %>" disabled/>
              </div>

              <textarea class="control" rows="5" name="mensaje" disabled
                ><%=request.mensaje%></textarea>

                <label>¡Dejanos tu mensaje!</label>
  
                <textarea class="control" rows="5" name="mensaje"></textarea>              

              <button type="submit" class="botonProductos">Enviar correo</button>
            </div>
          </div>
        </form>
        <% }) %>
     <%- include('../partials/footer')%>

  </body>

</html>