<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Change password"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/user/edit/changepassword?_method=PUT" method="POST" class="create-form">
        <div class="content">
          <div>

            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>
          <div>
            <h2 class="titulo-registrar-usuario">Change your password</h2>
            
            <% if(locals.errors && errors.contrasenia){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contrasenia.msg %></p>
              </div>
            <% } %>            
            <div class="control-formulario">
              <input type="password" name="contrasenia" class="control" placeholder="Old Password"/>
            </div>

            <% if(locals.errors && errors.contraseniaNueva){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contraseniaNueva.msg %></p>
              </div>
            <% } %>            
            <div class="control-formulario">
              <input type="password" name="contraseniaNueva" class="control" placeholder="New password" />
            </div>

            <% if(locals.errors && errors.contraseniaNuevaRepetir){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contraseniaNuevaRepetir.msg %></p>
              </div>
            <% } %>            
            <div class="control-formulario">
              <input type="password" name="contraseniaNuevaRepetir" class="control" placeholder="Repeat new password"  />
            </div>
           
            <button type="submit" class="botonContactanos">Change Password</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>
      <script src="/js/hamburgMenu.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>       
  </body>

</html>