<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Login"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

        <form action="/user/<%= usuario.id %>?_method=PUT" method="POST" class="create-form" enctype="multipart/form-data">
          <div class="content">
            <div>
              <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
            </div>

            <div>
              <h2 class="titulo-registrar-usuario">Editar Usuario</h2>

              <div class="control-formulario">
                <label for="user"> Usuario: </label>
                <input class="control" type="text" name="user" id="user" placeholder="Usuario"
                  value="<%= usuario.user %>" />
              </div>

              <div class="control-formulario">
                <label for="name"> Nombre/s: </label>
                <input class="control" type="text" placeholder="Nombre" name="name" id="name"
                  value="<%= usuario.name %>">
              </div>

              <div class="control-formulario">
                <label for="lastName"> Apellido/s: </label>
                <input class="control" type="text" name="lastName" id="lastName" placeholder="Apellido/s"
                  value="<%= usuario.lastName %>" />
              </div>

              <div class="control-formulario">
                <label for="email"> Correo </label>
                <input class="control" type="email" name="email" id="email" placeholder="Correo"
                  value="<%= usuario.email %>" />
              </div>
              <% if (locals.isLogged) { %>
                <% if (locals.userLogged.category=="Admin" ) { %>
              <label for="category"> Categoría </label>
              <select name="categoria" class="control" id="category">
                <option value="">Tipo de Usuario</option>
  
                <% let tipoUsuario=['Admin', 'Cliente' ] %>
  
                  <% for( const unUsuario of tipoUsuario ) { %>
                    <option value="<%= unUsuario %>" <% if (unUsuario == usuario.category) { %>selected<% } %>>
                      <%= unUsuario %>
                    </option>
                    <% } %>
  
              </select>
              <% } %>
              <% } %>
              <div class="control-formulario">
                <label for="fotoPerfil">Foto de usuario</label>
                <input class="control" type="file" name="profilePic" id="profilePic">
              </div>             

              <button type="submit" class="botonProductos">Actualizar</button>
              <a class="botonProductos" href="/user/list">Volver al listado</a>
            </div>
          </div>
        </form>
        <form class="create-form" method="post" action="/user/<%=usuario.id %>/?_method=delete">

          <button hidden type="submit" id="botonBorrar">Eliminar usuario </button>

        </form>

            <%- include('../partials/footer')%>

            
      <script>
        const menu = document.querySelector('.svgMenu')
        const close = document.querySelector('.closeBtn')
        const nav = document.querySelector('#navPrincipal')

        menu.addEventListener('click', () => {
          nav.classList.add('open-nav')
        })
        close.addEventListener('click', () => {
          nav.classList.remove('open-nav')
        })
      </script>
  </body>

</html>