<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Edit user"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/user/<%= locals.usuario ? usuario.id : locals.id ? id : null %>?_method=PUT" method="POST"
        class="create-form edit-form" enctype="multipart/form-data">
        <div class="content">
          <div>
            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>

          <div>
            <h2 class="titulo-registrar-usuario">Edit user</h2>


            <div class="control-formulario">
              <div class="erroresForm errorUser">
                <% if (locals.errors && errors.user) { %>
                  <%= errors.user.msg %>
                <% } %>
              </div>
              <input class="control <%= locals.errors && errors.user ? 'invalidError' : null %>" type="text" name="user"
                id="user" placeholder="User"
                value="<%= locals.usuario ? usuario.user_name : locals.oldData ? oldData.user : null %>" />
            </div>

            <div class="control-formulario">
              <div class="erroresForm errorName">
                <% if (locals.errors && errors.name) { %>
                  <%= errors.name.msg %>
                    <% } %>
              </div>
              <input class="control <%= locals.errors && errors.name ? 'invalidError' : null %>" type="text"
                placeholder="Name" name="name" id="name"
                value="<%= locals.usuario ? usuario.name : locals.oldData ? oldData.name : null %>">
            </div>

            <div class="control-formulario">
              <div class="erroresForm errorLastname">
                <% if (locals.errors && errors.lastname) { %>
                  <%= errors.lastname.msg %>
                <% } %>
              </div>
              <input class="control <%= locals.errors && errors.lastname ? 'invalidError' : null %>" type="text"
                name="lastname" id="lastname" placeholder="Last Name"
                value="<%= locals.usuario ? usuario.lastname : locals.oldData ? oldData.lastname : null %>" />
            </div>

            <div class="control-formulario">
              <div class="erroresForm errorEmail">
                <% if (locals.errors && errors.email) { %>
                  <%= errors.email.msg %>
                <% } %>
              </div>
              <input class="control <%= locals.errors && errors.email ? 'invalidError' : null %>" type="email"
                name="email" id="email" placeholder="Email"
                value="<%= locals.usuario ? usuario.email : locals.oldData ? oldData.email : null %>" />
            </div>

            <% if (locals.isLogged) { %>
              <% if (locals.userLogged.perfiles.name=="Admin" ) { %>
                <div class="erroresForm errorCategory">
                  <% if (locals.errors && errors.category) { %>
                    <%= errors.category.msg %>
                  <% } %>
                </div>
                <select name="categoria" class="control <%= locals.errors && errors.category ? 'invalidError' : null %>"
                  id="category">
                  <option value="">Type of user</option>

                    <% for( const rol of perfiles ) { %>
                      <option value="<%= rol.id %>" 
                        <% if (locals.usuario) { %>
                            <%= rol.id===usuario.profile_id ? 'selected' : null %>
                        <% } else if (locals.oldData) { %>
                            <%= rol.id==oldData.categoria ? 'selected' : null %>
                        <% } %>
                                ><%= rol.name %>
                      </option>
                      <% } %>

                </select>
                <% } %>
                  <% } %>

                    <div class="control-formulario">
                      <div class="erroresForm errorProfilepic">
                        <% if (locals.errors && errors.profilePic) { %>
                          <%= errors.profilePic.msg %>
                        <% } %>
                      </div>
                      <input class="control <%= locals.errors && errors.profilePic ? 'invalidError' : null %>"
                        type="file" name="profilePic" id="profilePic">
                    </div>

                    <input id="userID" type="hidden" value="<%= locals.usuario ? usuario.id : locals.id ? id : null %>">

                    <button type="submit" class="botonProductos">Update</button>
                    <button class="botonProductos" href="/user/list">Go back</a>
          </div>
        </div>
      </form>
      <form class="create-form" method="post"
        action="/user/<%= locals.usuario ? usuario.id : locals.id ? id : null %>/?_method=delete">

        <button hidden type="submit" id="botonBorrar">Delete user </button>

      </form>

      <%- include('../partials/footer')%>
      <script src="/js/hamburgMenu.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/js/users/userUpdate.js"></script> 
  </body>

</html>