<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {Impact X | Login"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/user/login" method="POST" class="create-form">
        <div class="content">
          <div>

            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>
          <div>
            <h2 class="titulo-registrar-usuario">¡Ingresá tu usuario!</h2>
            <div class="control-formulario">
              <div class="erroresForm">
                <% if (locals.errors && errors.user) { %>
                  <%= errors.user.msg %>
                <% } %>
              </div>
              <input type="text" name="user" class="control" placeholder="Usuario" />

            </div>
            <div class="control-formulario">
              <div class="erroresForm">
                <% if (locals.errors && errors.password) { %>
                  <%= errors.password.msg %>
                <% } %>
              </div>            
              <input type="password" name="password" class="control" placeholder="Contraseña" />
            </div>
            <input type="checkbox" class="botonSesionIniciada" name="rememberUser"> Mantener sesión iniciada</input><br>
            <button type="submit" class="botonLogin">Log In</button>
            <a class="registrateBoton" href="/user/signup">¿No tenes usuario? ¡Registrate!</a>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>

      
      <script src="/js/hamburgMenu.js"></script>
  </body>

</html>