<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"password change"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/user/edit/changepassword?_method=PUT" method="POST" class="create-form">
        <div class="content">
          <div>

            <img src="/img/logo-impactx.png" alt="" class="image-sign-up" />
          </div>
          <div>
            <h2 class="titulo-registrar-usuario">Cambia tu contraseña</h2>
            
            <div class="control-formulario">
              <input type="password" name="contrasenia" class="control" placeholder="Contraseña anterior"/>
            </div>
            <% if(locals.errors && errors.contrasenia){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contrasenia.msg %></p>
              </div>
            <% } %>
            

            <div class="control-formulario">
              <input type="password" name="contraseniaNueva" class="control" placeholder="Contraseña nueva" />
            </div>
            <% if(locals.errors && errors.contraseniaNueva){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contraseniaNueva.msg %></p>
              </div>
            <% } %>

            <div class="control-formulario">
              <input type="password" name="contraseniaNuevaRepetir" class="control" placeholder="Repetir contraseña nueva"  />
            </div>
            <% if(locals.errors && errors.contraseniaNuevaRepetir){ %>
              <div class="div-input input-error errorPass">
                  <p class="error"><%= errors.contraseniaNuevaRepetir.msg %></p>
              </div>
            <% } %>
           
            <button type="submit" class="botonContactanos">CAMBIAR CONTRASEÑA</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>

  </body>

</html>