<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Profile"})%>

  <body class="bgProductos">

    <%- include('../partials/header')%>

      <main class="mainProfile">
        <div class="wrapperProfile">
          <section class="wrapperProfileTop">
            <div>
              <img src="../img/<%= user.imagen %>" alt="">
              <h2><%= user.name %> <%= user.lastName %></h2>
            </div>
            <div>
              <p class="usuario-tipo">Type: <%= user.category %> </p>
              <a class="logoutButton" href="/user/logout">Log Out</a>
            </div>
          </section>
        </div>



        <section class="wrapperProfileBottom">
          <a href="/user/edit/<%=user.id %>">
            <section>
              <div>
                <p>/</p>
                <div>
                  <h4>Edit Profile</h4>
                  <h5>Modify your profile settings</h5>
                </div>
              </div>
              <p>></p>
            </section>
          </a>


          <a  href="/user/edit/<%=user.id %>/changepassword">
            <section>
              <div>
                <p>/</p>
                <div>
                  <h4>Change Password</h4>
                </div>
              </div>
              <p>></p>
            </section>
          </a>
          

        </section>
      </main>





      <%- include('../partials/footer')%>
        <script>
          const menu = document.querySelector('.svgMenu')
          const close = document.querySelector('.closeBtn')
          const nav = document.querySelector('#navPrincipal')

          menu.addEventListener('click', () => {
            nav.classList.add('open-nav')
          })
          close.addEventListener('click', () => {
            nav.classList.remove('open-nav')
          })
        </script>
  </body>

</html>