<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Create product"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form action="/productos/create" method="post" class="create-form" enctype="multipart/form-data">
        <div class="content">
          <div>
            <h2 class="titulo-registrar-usuario">Add new product</h2>
            <div class="control-formulario">

              <div class="erroresForm">
                <% if (locals.errors && errors.category) { %>
                  <%= errors.category.msg %>
                <% } %>
              </div>
              <select class="control <%= locals.errors && errors.category ? 'invalidError' : null %>" name="category"
                id="">
                <option value="">Select a option</option>
                  <% for( const servicio of categories ) { %>
                    <option value="<%= servicio.id %>" <%=locals.oldData && (servicio.id==oldData.category) ? 'selected' :
                      null %>
                      <%= locals.oldData && (servicio.id===oldData.category) ? "selected" : null %> > <%= servicio.name %>
                    </option>
                  <% } %>
              </select>


              <div class="erroresForm">
                <% if (locals.errors && errors.product) { %>
                  <%= errors.product.msg %>
                <% } %>
              </div>
              <input type="text" name="product"
                class="control <%= locals.errors && errors.product ? 'invalidError' : null %>" placeholder="Name"
                value="<%= locals.oldData ? oldData.product : null %>" />

              <div class="erroresForm">
                <% if (locals.errors && errors.desc) { %>
                  <%= errors.desc.msg %>
                <% } %>
              </div>
              <textarea type="text" name="desc"
                class="control <%= locals.errors && errors.desc ? 'invalidError' : null %>"
                placeholder="Description"><%= locals.oldData ? oldData.desc : null %></textarea>

              <div class="erroresForm">
                <% if (locals.errors && errors.price) { %>
                  <%= errors.price.msg %>
                    <% } %>
              </div>
              <input type="number" name="price"
                class="control <%= locals.errors && errors.price ? 'invalidError' : null %>" placeholder="Price"
                value="<%= locals.oldData ? oldData.price : null %>" />


              <div class="erroresForm">
                <% if (locals.errors && errors.image) { %>
                  <%= errors.image.msg %>
                    <% } %>
              </div>
              <input type="file" name="image"
                class="control <%= locals.errors && errors.image ? 'invalidError' : null %>" />
            </div>
            <button type="submit" class="botonContactanos">Add product</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>
      <script>
        const menu = document.querySelector('.svgMenu')
        const close = document.querySelector('.closeBtn')
        const nav = document.querySelector('#navPrincipal')

        menu.addEventListener('click', () => {
          nav.classList.add('open-nav')
        })
        close.addEventListener('click', () => {
          nav.classList.remove('open-nav')
        })
      </script>      
  </body>

</html>