<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Productos"})%>

  <body class="bgProductos">

    <%- include('../partials/header')%>

      <main class="mainProducts">
        <% productos.forEach(producto=> { %>
          <article class="tarjetaProductos">
            <div class="containerImagenProductos">
              <img class="productoImagen" src="/img/<%= producto.imagen %>"
                alt="imagen producto <%= producto.nombre %>">
            </div>
            <div class="containerInfoProductos">
              <h2>
                <%= producto.nombre %>
              </h2>
              <p>
                <%= producto.precio %> $
              </p>
              <p>
                <%= producto.descripcion %>
              </p>
              <div class="contenedorBotonesProductos">
                <a class="botonProductos" href="">ADD TO CART</a>
                <a class="botonProductos" href="">COMPRAR AHORA</a>
                <% if (locals.isLogged) { %>
                  <% if (locals.userLogged.category=="Admin" ) { %>
                    <div>
                      <a class="botonProductos" href="/productos/edit/<%=producto.id %>">EDITAR</a>
                      <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="sumbit" class="botonProductos eliminar">ELIMINAR</button>
                      </form>
                    </div>
                    <% } %>
                      <% } %>
              </div>
            </div>
          </article>

          <% }) %>
            <% if (locals.isLogged) { %>
              <% if (locals.userLogged.category=="Admin" ) { %>
                <div iv class="nuevoProducto">
                  <a href="/productos/create">+</a>
                  <p>Agregar Nuevo Producto</p>
                </div>
              <% } %>
            <% } %>
      </main>

      <%- include('../partials/footer')%>

      
      <script>
        const menu = document.querySelector('.svgMenu')
        const close = document.querySelector('.closeBtn')
        const nav = document.querySelector('#navPrincipal')

        menu.addEventListener('click', () => {
          nav.classList.add('open-nav')
        })
        close.addEventListener('click', () => {
          nav.classList.remove('open-nav')
        })
      </script>
  </body>

</html>