<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Edit product"})%>

  <body class="bodySignUp">

    <%- include('../partials/header')%>

      <form data-aos="fade-in"
      data-aos-easing="ease-in-sine"
      data-aos-duration="1000" enctype="multipart/form-data"
        action="/productos/<%= locals.productoEditar ? productoEditar.id : locals.id ? id : null  %>/?_method=put"
        method="POST" class="create-form">
        <div class="content">
          <div>
            <h2 class="titulo-registrar-usuario">Edit product</h2>
            <div class="control-formulario">

              <div class="erroresForm" id="errorCategory">
                <% if (locals.errors && errors.category) { %>
                  <%= errors.category.msg %>
                <% } %>
              </div>
              <select class="control <%= locals.errors && errors.category ? 'invalidError' : null %>" name="category" id="">
                <option value="">Seleccione una opción</option>
                <% let tipoServicio=['producto', 'servicio' ] %>
                <% for( const category of categories ) { %>
                  <option value="<%= category.id %>"
                    <% if (locals.productoEditar) { %>
                      <%= category.id == productoEditar.category_id ? 'selected' : null %>
                    <% } else if (locals.oldData) { %>
                      <%= category.name == oldData.category ? 'selected' : null %>
                    <% } %>
                  >
                    <%= category.name %>
                  </option>
                <% } %>
              </select>

              <div class="erroresForm" id="errorName">
                <% if (locals.errors && errors.product) { %>
                  <%= errors.product.msg %>
                    <% } %>
              </div>
              <input class="control <%= locals.errors && errors.product ? 'invalidError' : null %>"
                value="<%= locals.productoEditar ? productoEditar.name : locals.oldData ? oldData.product : null %>"
                type="text" name="product" placeholder="Nombre" />

              <div class="erroresForm" id="errorDesc">
                <% if (locals.errors && errors.desc) { %>
                  <%= errors.desc.msg %>
                <% } %>
              </div>
              <textarea type="text" name="desc" class="control <%= locals.errors && errors.desc ? 'invalidError' : null %>"
                placeholder="Descripción"><%= locals.productoEditar ? productoEditar.description : locals.oldData ? oldData.desc : null %></textarea>


              <div class="erroresForm" id="errorPrice">
                <% if (locals.errors && errors.price) { %>
                  <%= errors.price.msg %>
                <% } %>
              </div>
              <input class="control <%= locals.errors && errors.price ? 'invalidError' : null %>"
                value="<%= locals.productoEditar ? productoEditar.price : locals.oldData ? oldData.price : null %>"
                type="number" name="price" placeholder="Precio" />

                <div class="erroresForm" id="errorImg">
                  <% if (locals.errors && errors.image) { %>
                    <%= errors.image.msg %>
                  <% } %>
                </div>
                <input type="file" name="image"
                  class="control <%= locals.errors && errors.image ? 'invalidError' : null %>" />

            </div>
            <button type="submit" class="botonContactanos">Edit</input>
          </div>
        </div>
      </form>

      <%- include('../partials/footer')%>
      <script src="/js/products/productEdit.js"></script>
      <script src="/js/hamburgMenu.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>

</html>