<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Productos"})%>

  <body class="bgProductos">

    <%- include('../partials/header')%>
      <main class="mainProducts">
        <div class="search-container">
          <input type="text" id="search-input" placeholder="Search">
        </div>

        <% products.forEach(producto=> { %>
          <article class="tarjetaProductos">
            <input type="text" id="inputProdId" hidden value=<%= producto.id %>>

            <div class="containerImagenProductos">
              <img class="productoImagen" src="/img/<%= producto.image %>" alt="<%= producto.image %>">
            </div>

            <div class="containerInfoProductos">           
              <h2 class="name"><%= producto.name %></h2>
              <p class="price"><%= producto.price %> $</p>
              <p class="description"><%= producto.description %></p>


              <div class="contenedorBotonesProductos">
                <a class="botonProductos add-to-cart" id="addCartBtn" data-id="<%= producto.id %>">ADD TO CART</a>
                <a class="botonProductos" href="">BUY NOW</a>
                <% if (locals.isLogged) { %>
                  <% if (locals.userLogged.perfiles.name=="Admin" ) { %>
                    <div>
                      <a class="botonProductos" href="/productos/edit/<%=producto.id %>">Edit</a>                  
                      <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="sumbit" class="botonProductos eliminar">Delete</button>
                      </form>
                    </div>
                  <% } %>
                <% } %>
              </div>
            </div>

          </article>

          <!-- HTML for the popup -->
          <article class="popupProducto">
            <div class="popupContenido">
              
              <div class="popupImagen">
                <img src="/img/<%= producto.image %>" alt="imagen producto <%= producto.name %>">
              </div>
              <div class="popupInfo">
                <h2>
                  <%= producto.name %>
                </h2>
                <p>
                  <%= producto.price %> $
                </p>
                <p>
                  <%= producto.description %>
                </p>
                <p>
                  <button class="popupCerrarButton">Close</button>
                </p>
              </div>
            </div>
          </article>

          <% }) %>
            <% if (locals.isLogged) { %>
              <% if (locals.userLogged.perfiles.name=="Admin" ) { %>
                <div iv class="nuevoProducto">
                  <a href="/productos/create">+</a>
                  <p>Add new product</p>
                </div>
              <% } %>
            <% } %>
      </main>

      <%- include('../partials/footer')%>
      <script src="/js/filterByWord.js"></script>
      <script src="/js/hamburgMenu.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
  </body>

</html>