<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Impact X | Products"})%>

  <body class="bgProductos">

    <%- include('../partials/header')%>
      <div class="search-container">

        <input type="text" id="search-input" placeholder="Search a product">
        <% if (locals.isLogged) { %>
          <% if (locals.userLogged.perfiles.name=="Admin" ) { %>
            <a class="addNewProductBtn" href="/productos/create">
              <p>Add new product +</p>
            </a>
          <% } %>
        <% } %>
      </div>
      <main class="mainProducts">



        <% products.forEach(producto=> { %>
          <article class="tarjetaProductos" data-aos="fade-in"         
          data-aos-easing="ease-in-sine"
          data-aos-duration="1000">
            <input type="text" id="inputProdId" hidden value=<%= producto.id %>>

            <div class="containerImagenProductos">
              <img class="productoImagen" src="/img/<%= producto.image %>" alt="<%= producto.image %>">
            </div>

            <div class="containerInfoProductos">
              <div class="textoContainerInfoProducto">
                <div>
                  <h2 class="name"><%= producto.name %></h2>
                  <p class="price"><%= producto.price %> $</p>
                </div>
                <p class="description"><%= producto.description %></p>
              </div>           


              <div class="contenedorBotonesProductos">
                <a class="botonProductos add-to-cart" id="addCartBtn new-toast" data-id="<%= producto.id %>">Add to cart</a>
                <% if (locals.isLogged) { %>
                  <% if (locals.userLogged.perfiles.name=="Admin" ) { %>
                      <a class="botonProductos" href="/productos/edit/<%=producto.id %>">Edit</a>                  
                      <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="sumbit" class="botonProductos eliminar">Delete</button>
                      </form>
                  <% } %>
                <% } %>
              </div>
            </div>
          </article>

          <!-- HTML for the popup -->
          <article class="popupProducto">
            <div class="popupContenido">
              
              <div class="popupImagen">
                <img src="/img/<%= producto.image %>" alt="imagen producto <%= producto.name %>">
              </div>
              <div class="popupInfo">
                <h2>
                  <%= producto.name %>
                </h2>
                <p>
                  <%= producto.price %> $
                </p>
                <p class="popupProductDescription">
                  <%= producto.description %>
                </p>
                <p>
                  <button class="popupCerrarButton">Close</button>
                </p>
              </div>
            </div>
          </article>

        <% }) %>

      </main>

      <%- include('../partials/footer')%>
      <script src="/js/filterByWord.js"></script>
      <script src="/js/hamburgMenu.js"></script>
      <script src="/js/products/cart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>

</html>